body{
    background:radial-gradient(rgb(34, 141, 195),rgb(98, 218, 146));
}

.container
{
    position: absolute;
    margin:5px;
    border-radius: 15px;;
    background-image: url('/media/idback.png');
    background-size: 820px 520px;
    width: 815;
    height:515;
    margin: 1px;
    border: 3px solid #000000;
    left:22%;
    top: 15%;
}
.logo
{   
    background-image: url('media/logo.png');
    background-size: 250px 90px;
    position: absolute;
    width: 250;
    height:90;
    margin: 1px;
    right: 0;
    top: 1%;
}
.pic
{   
    background-image: url('media/person.png');
    background-size: 200px 250px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200;
    height: 250px;
    border: 1px solid #000000;
    left:7%;
    bottom: 35%;

}
.name
{   
    color :rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    width:230;
    height: 74;
    padding:5px;
    left:4%;
    bottom: 15%;
}
.student_id
{   
    text-align: center;
    color :rgb(0, 0, 0);
    position: absolute;
    width:275;
    height: 150;
    padding:5px;
    right: 50px;
    bottom: 40%;
}
#id1
{
   color: rgb(27, 27, 197);
}
#id2
{
   color: rgb(188, 51, 51);
}
.sign-T
{
      
        text-align: center;
        color :rgb(0, 0, 0);
        position: absolute;
        width:300;
        height: 175;
        padding:5px;
        right: 50px;
        bottom: 0%;
}
.sign{
        background: url('media/sign.jpg');
        background-size: 290px 90px;
        text-align: center;
        color :rgb(0, 0, 0);
        position: absolute;
        width:290;
        height: 90;
        padding:5px;
        right: px;
        bottom: 45%;
}
#id3
{
    text-align: center;
    color :rgb(0, 0, 0);
    position: absolute;
    width:290;
    height: 50;
    padding:5px;
    right: 0px;
    bottom: 25%;
}
.button
{
    position: absolute;
    color: rgb(0, 0, 0);
    background:-webkit-linear-gradient(right, #a445b2, #fa4299);
    width: 20%;
    height: 5%;
    bottom:12%;
    left :37%;
    cursor: pointer;
    cursor: f;
    border-radius: 10px;
}

/* ========FLIP SIDE========== */
.container1
{
    position: absolute;
    margin:5px;
    border-radius: 15px;;
    background:whitesmoke;
    width: 815;
    height:515;
    margin: 1px;
    border: 3px solid #000000;
    left:22%;
    top: 15%;
}
.address
{   
    position:absolute;
    width: 100%;
    height: 0px;
    left: 10px;
}
.coladd
{
    position:absolute;
    border: 1px solid black;
    bottom: 60%;
    width: 100%;;
    height: 0px;
    left: 10px;
}
.bar{
    margin:1px;
    position:absolute;
    bottom:25%;
    width: 100%;;
    height: 0px;
}
.txt
{
    text-align: center;
    bottom: 20%;
}
.barcode
{   
    text-align: center;
    background: url(/media/br.png);
    background-size: 80% 30px;
    align-self: center;
    display: flex;
    margin:1px;
    position:absolute;
    left:10%;
    width :80%;
    height: 30px;
}

