*{
margin:0
}
.container
{
    width:100%;
    height:60px;
    border: 2px solid black;
    
    border-radius:10px ;
    background-color: rgb(137, 192, 214);
}
.navbar
{
    font-size: 110%;
}
#home
{
    position: absolute;
    left: 20%;
    top:18px;
    border: 2px solid black;
    border-radius: 20px;
}
#about
{
    position: absolute;
    left: 10%;
    border: 2px solid black;
    top:18px;
}
#icon
{
    position: absolute;

    top:18px;
}